a{
    background-color:antiquewhite;
    color:rgb(255, 237, 204);
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:lighter;
    text-decoration: none;
}

body{
    background-color:antiquewhite;
    
}
a{
float: right;
}
h1{
    text-align: center;
    color: hsl(0, 0%, 99%);
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-shadow:#ffffff;
}
h2{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}
body{
    color:rgb(19, 19, 19);
    
}
#header{
    height: 30px;
    background-color:antiquewhite;
    
}
#home,#about,#contact{
    height: 500px;
}

#home{
    background-color: rgb(212, 189, 124);
    height: 700px;
}
#about{
    background-color: rgb(247, 212, 161);
}
#contact{
    background-color: rgb(245, 231, 184);
    height: 200px;
}
table{
    background-color: #ffffff;
}

  button{  
  background-color: #ffe2b7;
  border-radius: 25%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button:hover{
    background-color: beige;
}

p{
    font-size: 22px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(128, 111, 89);
    text-align: center;
}
html{
    scroll-behavior: smooth;
}

div {
    width: 80px;
    height: 17px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  }
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:40px;}
    25%  {background-color:yellow; left:30px; top:0px;}
    50%  {background-color:blue; left:30px; top:30px;}
    75%  {background-color:green; left:30px; top:20px;}
    100% {background-color:red; left:0px; top:0px;}
  }
